body {
  color: #000;
}
.navbar_under{
     position: fixed!important;
     top:0;
     left: 0;
     width: 100%;
     background: #fff;
     z-index: 20;

     .navbar-brand{
         img{
             width: 30%;
         }
     }
     .nav-list{
         width: 40%;
        
         a{
             color: #333;
             font-size: 1.3em;
         }
         a:hover{
             opacity: 0.8;
             text-decoration: none;
         }
     }
}
.content{
    text-align: center;
    
    h2{
        font-size: 3.2em;
        font-weight: lighter;
        border-bottom: #A7A4A4 solid 1px;
        padding-bottom: 0.6em;
        margin-bottom: 1.6em;
        letter-spacing:0.6em;
    }
    .text{
        text-align: left;
        line-height: 1.8;
        font-size: 1.1em;
    }
    .box-title{
        letter-spacing: 0.3em;
        font-size: 1.6em;
    }
    
    .box-text{
        font-size: 1.1em;
        line-height: 1.8;
        height: 10em;
        text-align: left;
        margin: 1.6em 0;
    }
    
    .box-note{
        letter-spacing: 0.2em;
        color: #7B7878;
    }
    .img{
        img{
            width: 100%;
        }
    }
}


.header {

  .logo {
      width: 120px;
      height: 82px;
  }
}

.header_wrap{
    background-image: url(../img/header_bk.png);
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
    margin-bottom: 3em;
    
    .top_img_box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        
        img{
            display: block;
        }
    }
    .nav-list{
        margin: 0 0 0 auto;
        font-size: 1.3em;
        width: 40%;
        
        a{
            color: #4d4d4d;
        }
    }
    
}

@media screen and (max-width: 765px) { /* `mq(lg)` */
.header_wrap{
    display: flex;
    align-items: center;
    
    .top_img_box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        
        img{
            display: block;
        }
    }
    .nav-list{
        margin: 10px;
        font-size: 1.3em;
        width: 100%;
        
        a{
            color: #4d4d4d;
        }
    }
    
}

}

.posts {
    margin-top: 50px;
  .post {
      color: #333;
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
        letter-spacing: 0.2em;
        text-align: center;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
        overflow: hidden;
        border: #DBD9D9 1px solid;
        margin-bottom: 1em;
      img {
          transition: transform 0.5s linear;
          width: 100%;
      }
      img:hover{
          transform: scale(1.1);
          cursor: pointer;
      }
    }
  }
}

footer{
    .navbar-brand{
        width: 10%;
        
        img{
            width: 60%;
        }
    }
    .nav-list{
        width: 30%;
        
        a{
            color: #333;
        }
        a:hover{
            opacity: 0.8;
            text-decoration: none;
        }
    }

}

.show{
    color: #4d4d4d;
    font-size: 1.1em;

    .show_top_img{
        width:100%;
        margin-bottom: 3.2em;
        
        img{
            width:100%;
        }
    }
    
    .show_title{
        font-weight: bold;
        font-size: 1.3em;
        text-align: left;
        margin-bottom: 0.8em;
    }
    
    .show_part{
        text-align: left;
        margin-bottom: 0.8em;
        font-size: 1.1em;
    }

    .show_body{
        text-align: left;
        margin-bottom: 3em;
    }
}

/*ハンバーガーメニュー*/
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  
    .global-nav__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .global-nav__item {
      text-align: center;
      padding: 0 14px;
    }
    .global-nav__item a {
      display: block;
      padding: 8px 0;
      border-bottom: 1px solid #eee;
      text-decoration: none;
      color: #111;
    }
    .global-nav__item a:hover {
      background-color: #eee;
    }
  
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 50px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  
    .hamburger__line {
      position: absolute;
      left: 0;
      width: 28px;
      height: 1px;
      background-color: #111;
      transition: all .6s;
    }
    .hamburger__line--1 {
      top: 14px;
    }
    .hamburger__line--2 {
      top: 22px;
    }
    .hamburger__line--3 {
      top: 30px;
    }
  
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}